{
  "openapi": "3.0.2",
  "info": {
    "title": "Swagger Petstore - OpenAPI 3.0",
    "description": "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about\nSwagger at [http://swagger.io](http://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!\nYou can now help us improve the API whether it's by making changes to the definition itself or to the code.\nThat way, with time, we can improve the API in general, and expose some of the new features in OAS3.\n\nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.19"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://api.woo.org/"
    }
  ],
  "paths": {
    "/v3/trade/order": {
      "post": {
        "description": "post order",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "symbol",
                  "side",
                  "type"
                ],
                "type": "object",
                "properties": {
                  "symbol": {
                    "type": "string",
                    "description": "Symbol name",
                    "example": "SPOT_BTC_USDT"
                  },
                  "clientOrderId": {
                    "type": "integer",
                    "description": "Valid input ranges from 0 to 9223372036854775807",
                    "example": "1954766344355779056"
                  },
                  "orderTag": {
                    "type": "string",
                    "description": "Optional tag for this order, max string length: 64",
                    "example": ""
                  },
                  "side": {
                    "type": "string",
                    "description": "BUY/SELL",
                    "example": ""
                  },
                  "positionSide": {
                    "type": "string",
                    "description": "Position side; The default is BOTH in the one way mode;  Can only be LONG or SHORT in the hedge mode.  Only applicable to perpetual instruments.",
                    "example": ""
                  },
                  "type": {
                    "type": "string",
                    "description": "LIMIT/MARKET/IOC/FOK/POST_ONLY/ASK/BID",
                    "example": ""
                  },
                  "price": {
                    "type": "string",
                    "description": "Only applicable to LIMIT/IOC/FOK/POST_ONLY orders;  MARKET/ASK/BID orders will ignore this field",
                    "example": ""
                  },
                  "quantity": {
                    "type": "string",
                    "description": "Either quantity or amount is required;  If both are passed, the request will be rejected",
                    "example": ""
                  },
                  "amount": {
                    "type": "string",
                    "description": "Only applicable to MARKET/ASK/BID orders on spot instruments;  Either quantity or amount is required;  If both are passed, the request will be rejected",
                    "example": ""
                  },
                  "reduceOnly": {
                    "type": "boolean",
                    "description": "Only applicable to perpetual instruments; Whether the order can only reduce in position size; valid options are true/false",
                    "example": ""
                  },
                  "visibleQuantity": {
                    "type": "string",
                    "description": "The order quantity visible on orderbook",
                    "example": ""
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": "true"
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1733282130740
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "orderId": {
                              "type": "integer",
                              "description": ""
                            },
                            "type": {
                              "type": "string",
                              "description": ""
                            },
                            "price": {
                              "type": "string",
                              "description": ""
                            },
                            "quantity": {
                              "type": "string",
                              "description": ""
                            },
                            "amount": {
                              "type": "string",
                              "description": ""
                            },
                            "clientOrderId": {
                              "type": "integer",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSignAuth": [],
            "ApiTimestampAuth": []
          }
        ]
      }
    },
    "/v3/public/systemInfo": {
      "get": {
        "description": "Get current system maintenance status. A status value of 0 means the system is functioning properly, a status value of 1 means the trading services are under maintenance and a status value of 2 means the system is under maintenance.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1v3~1trade~1order/post/responses/200/content/application~1json/schema/allOf/0"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "integer",
                              "description": ""
                            },
                            "msg": {
                              "type": "string",
                              "description": ""
                            },
                            "estimated_end_time": {
                              "type": "integer",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/account/referral/summary": {
      "get": {
        "description": "Get referral information from each user you has referred.",
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "start time in unix timestamp",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "end time in unix timestamp",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "the page you wish to query.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "the page size you wish to query, default = 25, 1000 at max.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Referral response with common meta",
                  "allOf": [
                    {
                      "$ref": "#/paths/~1v3~1trade~1order/post/responses/200/content/application~1json/schema/allOf/0"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "rows": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "referralId": {
                                    "type": "integer",
                                    "description": "Referral ID"
                                  },
                                  "registerTime": {
                                    "type": "string",
                                    "description": "Time the referral was registered"
                                  },
                                  "referralCode": {
                                    "type": "string",
                                    "description": "Referral code"
                                  },
                                  "tradeStatus": {
                                    "type": "string",
                                    "description": "Status of the trade"
                                  },
                                  "earned": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "token": {
                                          "type": "string",
                                          "description": "Token type"
                                        },
                                        "amount": {
                                          "type": "string",
                                          "description": "Amount earned"
                                        }
                                      }
                                    }
                                  },
                                  "email": {
                                    "type": "string",
                                    "description": "Email address"
                                  }
                                }
                              }
                            },
                            "meta": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer",
                                  "description": "Total number of record11"
                                },
                                "recordsPerPage": {
                                  "type": "integer",
                                  "description": "Number of records per page"
                                },
                                "currentPage": {
                                  "type": "integer",
                                  "description": "Current page number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSignAuth": [],
            "ApiTimestampAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ApiSignAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-signature"
      },
      "ApiTimestampAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-timestamp"
      }
    }
  }
}
