{
  "openapi": "3.0.2",
  "info": {
    "title": "Swagger Petstore - OpenAPI 3.0",
    "description": "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about\nSwagger at [http://swagger.io](http://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!\nYou can now help us improve the API whether it's by making changes to the definition itself or to the code.\nThat way, with time, we can improve the API in general, and expose some of the new features in OAS3.\n\nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "API Team",
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.19"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "servers": [
    {
      "url": "https://api.woox.io/"
    }
  ],
  "paths": {
    "/v3/public/systemInfo": {
      "get": {
        "description": "Get current system maintenance status. A status value of 0 means the system is functioning properly, a status value of 1 means the trading services are under maintenance and a status value of 2 means the system is under maintenance.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/instruments": {
      "get": {
        "description": "Retrieve a list of Spot and USDT perpetual instruments.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/token": {
      "get": {
        "description": "Get the available tokens that WOO X supports.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/tokenNetwork": {
      "get": {
        "description": "Get the available networks for each token as well as the deposit/withdrawal information.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenNetworkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/tokenInfo": {
      "get": {
        "description": "Retrieve spot token information.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Token name in upper case",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/marketTrades": {
      "get": {
        "description": "Get the latest market trades. In the response, a source of 1 means these are internal trades on WOO X and a source of 0 means they are external trades from aggregated sources.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Numbers of trades you want to query. Maximum of 1000 trades allowed.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTradesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/marketTradesHistory": {
      "get": {
        "description": "Get historical market trades data. In the response, a source of 1 means these are internal trades on WOO X and a source of 0 means they are external trades from aggregated sources.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "The id cursor for fetching the previous page of results, excluding the trade associated with the cursor itself.  Either before or after can be specified.  If both are provided, before takes precedence. If neither is passed, the results default to starting from the most recent trades.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The id cursor for fetching the next page of results, excluding the trade associated with the cursor itself.  Either before or after can be specified.  If both are provided, before takes precedence. If neither is passed, the results default to starting from the most recent trades.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Numbers of trades you want to query. Maximum of 1000 trades allowed.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketTradesHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/orderbook": {
      "get": {
        "description": "Get the snapshot of the symbol order book. Price of asks/bids are in descending order.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxLevel",
            "in": "query",
            "description": "Maximum number of levels to show on both sides",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderbookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/kline": {
      "get": {
        "description": "Get the latest klines of the trading instrument.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "1m/3m/5m/15m/30m/1h/2h/4h/6h/12h/1d/1w/1mon/1y",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Numbers of klines. Maximum of 1000 klines allowed.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/klineHistory": {
      "get": {
        "description": "Get the historical klines of the trading instrument.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "1m/3m/5m/15m/30m/1h/2h/4h/6h/12h/1d/1w/1mon/1y",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "The start timestamp cursor for fetching the previous page of results, excluding the kline associated with the cursor itself.  Either before or after can be specified.  If both are provided, before takes precedence. If neither is passed, the results default to starting from the most recent kline.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The start timestamp cursor for fetching the next page of results, excluding the kline associated with the cursor itself.  Either before or after can be specified.  If both are provided, before takes precedence. If neither is passed, the results default to starting from the most recent kline.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Numbers of klines you want to query. Maximum of 1000 klines allowed.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/fundingRate": {
      "get": {
        "description": "Get predicted funding rate and the latest funding rate.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingRateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/fundingRateHistory": {
      "get": {
        "description": "Get funding rate history for one market.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Start timestamp in Unix timestamp format in milliseconds",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End timestamp in Unix timestamp format in milliseconds",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Data size per page",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingRateHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/futures": {
      "get": {
        "description": "Get basic futures information for all the markets.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuturesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/v3/public/insuranceFund": {
      "get": {
        "description": "Get the insurance fund balance by perp contract.",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Symbol name",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceFundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ApiSignAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-signature"
      },
      "ApiTimestampAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-timestamp"
      }
    },
    "schemas": {
      "CommonResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "true"
          },
          "timestamp": {
            "type": "integer",
            "description": "timestamp"
          }
        }
      },
      "SystemInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer",
                    "description": ""
                  },
                  "msg": {
                    "type": "string",
                    "description": ""
                  },
                  "estimated_end_time": {
                    "type": "integer",
                    "description": ""
                  }
                }
              }
            }
          }
        ]
      },
      "InstrumentsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "status": {
                          "type": "string",
                          "description": "TRADING, SUSPENDED, TESTING"
                        },
                        "baseAsset": {
                          "type": "string",
                          "description": ""
                        },
                        "baseAssetMultiplier": {
                          "type": "number",
                          "description": ""
                        },
                        "quoteAsset": {
                          "type": "string",
                          "description": ""
                        },
                        "quoteMin": {
                          "type": "number",
                          "description": ""
                        },
                        "quoteMax": {
                          "type": "number",
                          "description": ""
                        },
                        "quoteTick": {
                          "type": "number",
                          "description": ""
                        },
                        "baseMin": {
                          "type": "number",
                          "description": ""
                        },
                        "baseMax": {
                          "type": "number",
                          "description": ""
                        },
                        "baseTick": {
                          "type": "number",
                          "description": ""
                        },
                        "minNotional": {
                          "type": "number",
                          "description": ""
                        },
                        "bidCapRatio": {
                          "type": "number",
                          "description": ""
                        },
                        "bidFloorRatio": {
                          "type": "number",
                          "description": ""
                        },
                        "askCapRatio": {
                          "type": "number",
                          "description": ""
                        },
                        "askFloorRatio": {
                          "type": "number",
                          "description": ""
                        },
                        "fundingIntervalHours": {
                          "type": "number",
                          "description": ""
                        },
                        "fundingCap": {
                          "type": "number",
                          "description": ""
                        },
                        "fundingFloor": {
                          "type": "number",
                          "description": ""
                        },
                        "orderMode": {
                          "type": "string",
                          "description": "NORMAL, POST_ONLY, REDUCE_ONLY, CANCEL_ONLY"
                        },
                        "baseIMR": {
                          "type": "number",
                          "description": ""
                        },
                        "baseMMR": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TokenResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": ""
                        },
                        "fullname": {
                          "type": "string",
                          "description": ""
                        },
                        "decimals": {
                          "type": "number",
                          "description": ""
                        },
                        "network": {
                          "type": "string",
                          "description": ""
                        },
                        "balanceToken": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TokenNetworkResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "protocol": {
                          "type": "string",
                          "description": ""
                        },
                        "network": {
                          "type": "string",
                          "description": ""
                        },
                        "token": {
                          "type": "string",
                          "description": ""
                        },
                        "name": {
                          "type": "string",
                          "description": ""
                        },
                        "minimumWithdrawal": {
                          "type": "number",
                          "description": ""
                        },
                        "withdrawalFee": {
                          "type": "number",
                          "description": ""
                        },
                        "allowDeposit": {
                          "type": "number",
                          "description": ""
                        },
                        "allowWithdraw": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TokenInfoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": ""
                        },
                        "delisted": {
                          "type": "number",
                          "description": ""
                        },
                        "canCollateral": {
                          "type": "boolean",
                          "description": ""
                        },
                        "canShort": {
                          "type": "boolean",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "MarketTradesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "side": {
                          "type": "string",
                          "description": ""
                        },
                        "source": {
                          "type": "number",
                          "description": ""
                        },
                        "executedPrice": {
                          "type": "string",
                          "description": ""
                        },
                        "executedQuantity": {
                          "type": "string",
                          "description": ""
                        },
                        "executedTimestamp": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "MarketTradesHistoryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": ""
                        },
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "side": {
                          "type": "string",
                          "description": ""
                        },
                        "executedPrice": {
                          "type": "string",
                          "description": ""
                        },
                        "executedQuantity": {
                          "type": "string",
                          "description": ""
                        },
                        "executedTimestamp": {
                          "type": "number",
                          "description": ""
                        },
                        "source": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "OrderbookResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "asks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "string",
                          "description": ""
                        },
                        "quantity": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  },
                  "bids": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "string",
                          "description": ""
                        },
                        "quantity": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "KlineResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "open": {
                          "type": "string",
                          "description": ""
                        },
                        "close": {
                          "type": "string",
                          "description": ""
                        },
                        "low": {
                          "type": "string",
                          "description": ""
                        },
                        "high": {
                          "type": "string",
                          "description": ""
                        },
                        "volume": {
                          "type": "string",
                          "description": ""
                        },
                        "amount": {
                          "type": "string",
                          "description": ""
                        },
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "type": {
                          "type": "string",
                          "description": ""
                        },
                        "startTimestamp": {
                          "type": "number",
                          "description": ""
                        },
                        "endTimestamp": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "KlineHistoryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "open": {
                          "type": "string",
                          "description": ""
                        },
                        "close": {
                          "type": "string",
                          "description": ""
                        },
                        "high": {
                          "type": "string",
                          "description": ""
                        },
                        "low": {
                          "type": "string",
                          "description": ""
                        },
                        "volume": {
                          "type": "string",
                          "description": ""
                        },
                        "amount": {
                          "type": "string",
                          "description": ""
                        },
                        "type": {
                          "type": "string",
                          "description": ""
                        },
                        "startTimestamp": {
                          "type": "number",
                          "description": ""
                        },
                        "endTimestamp": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "FundingRateResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "estFundingRate": {
                          "type": "string",
                          "description": ""
                        },
                        "estFundingRateTimestamp": {
                          "type": "number",
                          "description": ""
                        },
                        "lastFundingRate": {
                          "type": "string",
                          "description": ""
                        },
                        "lastFundingRateTimestamp": {
                          "type": "number",
                          "description": ""
                        },
                        "nextFundingTime": {
                          "type": "number",
                          "description": ""
                        },
                        "lastFundingIntervalHours": {
                          "type": "number",
                          "description": ""
                        },
                        "estFundingIntervalHours": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "FundingRateHistoryResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "fundingRate": {
                          "type": "string",
                          "description": ""
                        },
                        "fundingRateTimestamp": {
                          "type": "number",
                          "description": ""
                        },
                        "nextFundingTime": {
                          "type": "number",
                          "description": ""
                        },
                        "markPrice": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "FuturesResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string",
                          "description": ""
                        },
                        "indexPrice": {
                          "type": "string",
                          "description": ""
                        },
                        "markPrice": {
                          "type": "string",
                          "description": ""
                        },
                        "estFundingRate": {
                          "type": "string",
                          "description": ""
                        },
                        "lastFundingRate": {
                          "type": "string",
                          "description": ""
                        },
                        "openInterest": {
                          "type": "string",
                          "description": ""
                        },
                        "24hOpen": {
                          "type": "string",
                          "description": ""
                        },
                        "24hClose": {
                          "type": "string",
                          "description": ""
                        },
                        "24hHigh": {
                          "type": "string",
                          "description": ""
                        },
                        "24hLow": {
                          "type": "string",
                          "description": ""
                        },
                        "24hVolume": {
                          "type": "string",
                          "description": ""
                        },
                        "24hAmount": {
                          "type": "string",
                          "description": ""
                        },
                        "nextFundingTime": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "InsuranceFundResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonResponse"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "rows": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": ""
                        },
                        "balance": {
                          "type": "number",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    }
  }
}