{
    "openapi": "3.0.2",
    "info": {
        "title": "Swagger Petstore - OpenAPI 3.0",
        "description": "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about\nSwagger at [http://swagger.io](http://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!\nYou can now help us improve the API whether it's by making changes to the definition itself or to the code.\nThat way, with time, we can improve the API in general, and expose some of the new features in OAS3.\n\nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "apiteam@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.19"
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    },
    "servers": [
        {
            "url": "https://api.woo.org/"
        }
    ],
    
    "paths": {
        "/v3/public/token": {
            "$ref": "path/public_data/token.json"
        },
        "/v3/public/tokenNetwork": {
            "$ref": "path/public_data/tokenNetwork.json"
        },
        "/v3/public/instruments": {
            "$ref": "path/public_data/instruments.json"
        },
        "/v3/public/systemInfo": {
            "$ref": "path/public_data/systemInfo.json"
        },
        "/v3/account/referral/summary": {
          "$ref": "path/account/summary.json"  
        },
        "/v3/futures/defaultMarginMode": {
          "$ref": "path/futures/defaultMarginMode.json"  
        },
        "/v3/asset/token/history": {
          "$ref": "path/asset/token_history.json"  
        },
        "/v3/spotMargin/leverage": {
          "$ref": "path/spotMargin/leverage.json"  
        },
        "/v3/trade/order": {
          "$ref": "path/trade/order.json"  
        }
        
    },
    "components": {
      
        "securitySchemes": {
            
            "bearerAuth": {
                "type": "http",
                "scheme":"bearer",
                "bearerFormat":"JWT"
            },
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            },
            "ApiKeyAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-key"
            },
            "ApiSignAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-signature"
            },
            "ApiTimestampAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-timestamp"
            }
        }
    }
}