{
    "openapi": "3.0.2",
    "info": {
        "title": "Swagger Petstore - OpenAPI 3.0",
        "description": "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about\nSwagger at [http://swagger.io](http://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!\nYou can now help us improve the API whether it's by making changes to the definition itself or to the code.\nThat way, with time, we can improve the API in general, and expose some of the new features in OAS3.\n\nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Team",
            "email": "apiteam@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.19"
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    },
    "servers": [
        {
            "url": "https://api.woox.io/"
        }
    ],

    "paths": {
        "/v3/public/systemInfo": {
          "$ref": "path/public_data/systemInfo.json"
        },
        "/v3/public/instruments": {
          "$ref": "path/public_data/instruments.json"
        },
        "/v3/public/token": {
          "$ref": "path/public_data/token.json"
        },
        "/v3/public/tokenNetwork": {
          "$ref": "path/public_data/tokenNetwork.json"
        },
        "/v3/public/tokenInfo": {
          "$ref": "path/public_data/tokenInfo.json"
        },
        "/v3/public/marketTrades": {
          "$ref": "path/public_data/marketTrades.json"
        },
        "/v3/public/marketTradesHistory": {
          "$ref": "path/public_data/marketTradesHistory.json"
        },
        "/v3/public/orderbook": {
          "$ref": "path/public_data/orderbook.json"
        },
        "/v3/public/kline": {
          "$ref": "path/public_data/kline.json"
        },
        "/v3/public/klineHistory": {
          "$ref": "path/public_data/klineHistory.json"
        },
        "/v3/public/fundingRate": {
          "$ref": "path/public_data/fundingRate.json"
        },
        "/v3/public/fundingRateHistory": {
          "$ref": "path/public_data/fundingRateHistory.json"
        },
        "/v3/public/futures": {
          "$ref": "path/public_data/futures.json"
        },
        "/v3/public/insuranceFund": {
          "$ref": "path/public_data/insuranceFund.json"
        },
        "/v3/trade/order": {
          "$ref": "path/trade/order.json"  
        },
        "/v3/trade/orders": {
          "$ref": "path/trade/orders.json"  
        },
        "/v3/trade/algoOrder": {
          "$ref": "path/trade/algoOrder.json"  
        },
        "/v3/trade/algoOrders": {
          "$ref": "path/trade/algoOrders.json"  
        },
        "/v3/trade/allOrders": {
          "$ref": "path/trade/allOrders.json"  
        },
        "/v3/trade/transaction": {
          "$ref": "path/trade/transaction.json"  
        },
        "/v3/trade/transactionHistory": {
          "$ref": "path/trade/transactions.json"  
        },
        "/v3/trade/tradingFee": {
          "$ref": "path/trade/tradingFee.json"  
        },
        "/v3/account/referral/summary": {
          "$ref": "path/account/summary.json"
        },
        "/v3/account/referral/rewardHistory": {
          "$ref": "path/account/referral_history.json"
        },
        "/v3/account/tokenConfig": {
          "$ref": "path/account/token_config.json"
        },
        "/v3/account/symbolConfig": {
          "$ref": "path/account/symbol_config.json"
        },
        "/v3/account/info": {
          "$ref": "path/account/account_info.json"
        },
        "/v3/account/tradingMode": {
          "$ref": "path/account/trading_mode.json"
        },
        "/v3/account/credentials": {
          "$ref": "path/account/credentials.json"
        },
        "/v3/account/subAccounts/all": {
          "$ref": "path/account/sub_accounts.json"
        },
        "/v3/spotMargin/leverage": {
          "$ref": "path/spot_margin/leverage.json"
        },
        "/v3/spotMargin/interestRate": {
          "$ref": "path/spot_margin/interest_rate.json"
        },
        "/v3/spotMargin/interestHistory": {
          "$ref": "path/spot_margin/interest_history.json"
        },
        "/v3/spotMargin/interestRepay": {
          "$ref": "path/spot_margin/interest_repay.json"
        },
        "/v3/spotMargin/maxMargin": {
          "$ref": "path/spot_margin/max_margin.json"
        },
        "/v3/asset/token/history": {
          "$ref": "path/asset/token_history.json"
        },
        "/v3/futures/defaultMarginMode": {
          "$ref": "path/futures/defaultMarginMode.json"
        }
    },
    "components": {
      
        "securitySchemes": {
            
            "bearerAuth": {
                "type": "http",
                "scheme":"bearer",
                "bearerFormat":"JWT"
            },
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            },
            "ApiKeyAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-key"
            },
            "ApiSignAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-signature"
            },
            "ApiTimestampAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-timestamp"
            }
        }
    }
}