{
    "openapi": "3.0.2",
    "info": {
        "title": "Swagger Petstore - OpenAPI 3.0",
        "description": "This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about\nSwagger at [http://swagger.io](http://swagger.io). In the third iteration of the pet store, we've switched to the design first approach!\nYou can now help us improve the API whether it's by making changes to the definition itself or to the code.\nThat way, with time, we can improve the API in general, and expose some of the new features in OAS3.\n\nSome useful links:\n- [The Pet Store repository](https://github.com/swagger-api/swagger-petstore)\n- [The source API definition for the Pet Store](https://github.com/swagger-api/swagger-petstore/blob/master/src/main/resources/openapi.yaml)",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "apiteam@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.19"
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    },
    "servers": [
        {
            "url": "https://api.woo.org/"
        }
    ],
    
    "paths": {
        "/v3/public/token": {
            "$ref": "path/public_data/token.json"
        },
        "/v3/public/tokenNetwork": {
            "$ref": "path/public_data/tokenNetwork.json"
        },
        "/v3/public/instruments": {
            "$ref": "path/public_data/instruments.json"
        },
        "/v3/public/systemInfo": {
            "$ref": "path/public_data/systemInfo.json"
        },
        
        "/v3/futures/defaultMarginMode": {
            "get": {
                "description": "get account level default margin mode",
                "parameters": {"$ref": "parameters/defaultMarginMode.json#/parameters"},
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema":{
                                    "$ref": "responses/DefaultMarginModeResponse.json#/DefaultMarginModeResponse"
                                }                               
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [
                    {
                      "ApiKeyAuth": [],
                      "ApiSignAuth": [],
                      "ApiTimestampAuth": []
                    }
                ]
            }
        },
        "/v3/asset/token/history": {
            "get": {
                "description": "get token history",
                "parameters": {"$ref": "parameters/token_history.json#/parameters"},
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema":{
                                    "$ref": "responses/TokenHistoryResponse.json#/TokenHistoryResponse"
                                }                               
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [
                    {
                      "ApiKeyAuth": [],
                      "ApiSignAuth": [],
                      "ApiTimestampAuth": []
                    }
                ]
            }
        },
        "/v3/spotMargin/leverage": {
            "post": {
                "description": "set leverage",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "schemas/SetLeverage.json#/SetLeverage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema":{
                                    "$ref": "common/commonResponse.json#/CommonResponse"
                                }                               
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [
                    {
                      "ApiKeyAuth": [],
                      "ApiSignAuth": [],
                      "ApiTimestampAuth": []
                    }
                ]
            }
        },
        "/v3/trade/order": {
            "post": {
                "description": "post order",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "schemas/CreateOrder.json#/CreateOrder"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema":{
                                    "$ref": "responses/CreateOrderResponse.json#/CreateOrderResponse"
                                }                               
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [
                    {
                      "ApiKeyAuth": [],
                      "ApiSignAuth": [],
                      "ApiTimestampAuth": []
                    }
                ]
            },
            "delete": {
                "description": "cancel order",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "schemas/CancelOrder.json#/CancelOrder"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema":{
                                    "$ref": "responses/CancelOrderResponse.json#/CancelOrderResponse"
                                }                               
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [
                    {
                      "ApiKeyAuth": [],
                      "ApiSignAuth": [],
                      "ApiTimestampAuth": []
                    }
                ]
            }
        },
        
        "/v3/account/referral/summary": {
            "get": {
                "description": "Get referral information from each user you has referred.",
                
                "parameters": {"$ref": "parameters/referral_summary.json#/parameters"},
                
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema":{
                                    "$ref": "responses/ReferralResponse.json#/ReferralResponse"
                                }                               
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [
                    {
                      "ApiKeyAuth": [],
                      "ApiSignAuth": [],
                      "ApiTimestampAuth": []
                    }
                ]
            }
        }
    },
    "components": {
      
        "securitySchemes": {
            
            "bearerAuth": {
                "type": "http",
                "scheme":"bearer",
                "bearerFormat":"JWT"
            },
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            },
            "ApiKeyAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-key"
            },
            "ApiSignAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-signature"
            },
            "ApiTimestampAuth": {
              "type": "apiKey",
              "in": "header",
              "name": "x-api-timestamp"
            }
        }
    }
}